.App-wrapper{
  /* width: 800px; */
  /* height: 1177px; */
  object-fit: contain;
  border:5px solid #8b6f47
}

.tab-style{
  border:2px solid#8b6f47;
  background-color: lightblue;
}

.grid{
  border: solid 1px #94bbb2;
  background-color: #5d9e8a;
}
